* {
margin: 0;
padding: 0;
}

html,body {
 font-family: 'Raleway', sans-serif;
 letter-spacing: 0.1em;
font-size: 16px;
overflow-x: hidden;
}

/* Navigation Bar */

.nav-bar {
 display: flex;
 padding: 0.3rem;
 position: fixed;
 width: 100vw;
 top: 0;
 left: 0;
 height: 8vh;
 color: #fff;
background-color:#3b5998 ;
}

.nav-ul {
 display: flex;
 width: 80vw;
 justify-content: flex-end;
 padding-top: 1rem;
}

.nav-logo {
padding: 1rem;
font-style: italic;
}

.nav-ul>li {
 list-style-type: none;
 text-decoration: none;
 margin: 0 1.3rem;

}

.nav-ul>li>a {
 text-decoration: none;
 color: #fff;
 font-weight: bold;
}


/*  Hero section */
.hero {

 display: flex;
 justify-content: center;
 height: 100vh;
 width: 100vw;
 background: url('./assets/pexels-susanne-jutzeler-1233319.jpg') no-repeat center center / cover;
}
/* 
.hero-txt {
margin-bottom: 0.31rem;
padding: 1rem;
width: 60vw;
height: 10rem;
border-radius: 10px;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.9);
text-align: center;
background-color: #f3f3f3;
align-self: flex-end;

} */


.hero-txt {
 display: flex;
 color: #fff;
margin: 100px;
flex-direction: column;

 
}

.cta{
 padding: 0.7rem;
 margin: 1rem auto;
 color: #fff;
 text-decoration: none;
 background-color: #fa8b0d;
 font-size: 18px;
 border-radius: 7px;
 box-shadow: 20px 27px 40px rgba(0, 0, 0, 0.9);
 font-weight: bold;
}


/* Info section */

.info {
 display: flex;
 padding-top: 1rem  ;
 min-height: 20vh;

 margin: 3rem 0;
 width: 100vw;
 color: #101820ff;
 /* text-align: center; */
 background-color: #f3f3f3;
 font-style: italic;
font-size: large;

}

.info-txt {
 padding: 1.5rem;
}


.heart-icon {
color:   #fa8b0d
}


/* Footer */

.footer {
 color: #fff;
 font-weight: bold;
 display: flex;
 height: 30vh;
 /* denim blue */
 background-color: #151e3d;
}

.copyright {
 padding: 1rem;
 width: 45vw;
 border-right: 3px solid #fff;
 text-align: center;
}

.social {
 padding: 1rem;
 width: 45vw;
 text-align: center;
}